.App {
  text-align: center;
  background-image: url(https://th.bing.com/th/id/R.1aacd4928c9b156eec0adce1307f1de5?rik=vRrutr83KblaIg&riu=http%3a%2f%2fapsu.edu%2fbusiness%2fstudents%2feducational-experiences%2finternships.jpg&ehk=B9%2biV7EFmleWwS6mQQuCUTgIljAkIcdy6g3VbpVPcgE%3d&risl=&pid=ImgRaw&r=0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
